.radio {
  display: flex;
  align-items: center;
  gap: var(--size-1);
  padding: var(--size-1);
  cursor: pointer;
}

.radio--disabled {
  cursor: not-allowed;
  color: var(--color-neutral-500);
}

.radio__icon {
  width: var(--size-2);
  height: var(--size-2);
  border: var(--size-0-25) solid var(--color-neutral-300);
  border-radius: 50%;
  padding: var(--size-0-25);
}

.radio__icon::after {
  content: '';
  display: block;
  height: 100%;
  background: var(--color-primary-300);
  border-radius: 50%;
  opacity: 0;
}

.radio__icon--checked {
  border-color: var(--color-primary-300);
}

.radio__icon--checked::after {
  opacity: 1;
}

.radio__icon--disabled {
  border-color: var(--color-neutral-500);
}

.radio__icon--disabled::after {
  background: var(--color-neutral-500);
}
