body {
  font-family: var(--font-family-poppins);
  line-height: var(--line-height-default);
}

button {
  font-size: var(--font-size-button);
  font-weight: var(--font-weight-semi-bold);
  line-height: var(--line-height-button);
  letter-spacing: var(--letter-spacing-button);
}
